sklearn --prefix $pythonpath
keras --prefix $pythonpath
h5py --prefix $pythonpath
pandas --prefix $pythonpath
# keras_contrib # installed using pip3 install git+https://www.github.com/keras-team/keras-contrib.git
